body{
    margin: 0px;
    padding: 0px;
}

#body{
    margin-right: auto;
    margin-left: auto;
    width: 1000px;
}

#header-base{
    width: 100%;
    /*border-bottom: 5px solid #001940;*/
    background: #001940 url("img/thumb01.jpg") repeat;
    height: 170px;
}
#header{
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

#avatar{
    width: 150px;
    height: 150px;
    border: 1px solid aliceblue;
    margin: 10px;
    float: left;
}

*{
    font-family: segoe UI;
    font-weight: lighter;
    color: lightgray;
}

#name{
    padding-top: 10px;
    font-weight: bold;
    display: block;
    font-size: 25px;
    padding-bottom: 8px;
}

label.top-desc{
    /*font-weight: 500;*/
    display: block;
    width: 620px;
    padding-right: 20px;
    font-size: 14px;
    line-height: 23px;
    /**/
}

a.link{
    color: lightblue;
    text-decoration: none;
}

a.link:hover{
    text-decoration: underline;
}

#top-contact{
    float: right;
    height: 150px;
    width: 350px;
    border-left: 2px solid aliceblue;
    margin-top: 10px;
    padding-left: 10px;
    font-size: 12px;
    position: relative;
    top: -1px;
}

label.title{
    font-weight: bold;
}

#content{
    padding-left: 10px;
    float: left;
    width: 650px;
}

#sidebar{
    float: left;
    width: 340px;
}

div.side-box{
    width: 300px;
    margin: 20px;
    margin-bottom: 0px;
}

#cloud{
    width: 100%;
    height: 100%;
}

div.box-content{
    border: 2px dashed #954F72;
    border-top: 0px;
    width: 276;
    padding: 10px;
    font-size: 14px;
    color: #333333;
}

#rank{
    color: #333333;
    text-decoration: none;
    font-weight: bold;
}

a.t-link{
    text-decoration: none;
}

h2.box-title{
    margin: 0px;
    width: 100%;
    height: 33px;
    background-color: #954F72;
    color: #ebf0f2;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding-top: 7px;
}

li, span, strong{
    color: #001940;
    line-height: 25px;
}

#main-text{
    width: 640px;
    height: 500px;
    background-color: white;
    color: #000000;
}

#menu-bar{
    background-color: #4f4c4c;
    height: 40px;
    padding: 0px;
    margin: 0px;
}

#menu-base{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    clear: both;
position: relative;
    top: -2px;
}

label.menu-item{
    display: inline-block;
    padding-top: 7px;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right: 10px;

}

label.menu-item:hover{
    background-color: #868486;
    cursor: pointer;
}

h2.title{
    width: 100%;
    height: 40px;
    background-color: #02326f;
    padding-left: 10px;
    color: #ebf0f2;
}

li{
    font-weight: bold;
}

ul>ul>li{
    font-size: 14px;
    font-weight: 100;
}

ul>ul>ul>li{
    font-style: italic;
    font-size: 12px;
}